
.idea/misc.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_06_01_2024_00_37_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_06_01_2024_00_37_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_06_01_2024_00_37__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_06_01_2024_00_31_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_06_01_2024_00_31_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_06_01_2024_00_31__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_06_01_2024_00_46_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_06_01_2024_00_46__Changes_.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/spritesheet.cpython-310.pyc
__pycache__/spritesheet.cpython-310.pyc
